In [176]:
import os
import csv
import pandas as pd
import numpy as np
import librosa
from matplotlib import pyplot as plt
import librosa.display

## Extracting file names as list

In [177]:
folder_list = ['C:/Users/Ankit Kumar/Audio_Data/BallRacketWithBabolatAtHome','C:/Users/Ankit Kumar/Audio_Data//BallRacketWithWilsonAtHome']
for i in folder_list:
    my_files = [[f.name for f in os.scandir(i)if f.name.endswith('.wav')]]
    #print(my_files)

## Converting list data type to data frame and arranging data

In [178]:
df = pd.DataFrame(my_files)
df = df.T
df.index = np.arange(1, len(df) + 1) # assign index from 1 
df.columns = ['slice_file_name']     #entering column name
df.head(10)

   slice_file_name
1         BF01.wav
2         BF02.wav
3         BF03.wav
4         BF04.wav
5         BF05.wav
6         BF06.wav
7         BF07.wav
8         BF08.wav
9         BF09.wav
10        BF10.wav

## Extracting out sample_time and amplitude for each .wav file

### Obtaining location of each file

In [179]:
for column in df:
    location = ('C:/Users/Ankit Kumar/Audio_Data/BallRacketWithBabolatAtHome/' + df[column])
    location_list = location.tolist()

In [180]:
ls = []
for j in location_list:
    time_series, sampling_rate = librosa.load(j)

In [181]:
ls = []
for j in location_list:
    time_series, sampling_rate = librosa.load(j)
    time_series = ls.append(time_series)

### Obtaining maximum amplitude value for each audio file

In [182]:
max_t = []
for k in range(len(ls)):
    max_time_series_value = max(ls[k])
    max_t.append(max_time_series_value)
print(len(max_t))

137

### Obtaining minimum amplitude value for each audio file

In [183]:
min_t = []
for k in range(len(ls)):
    max_time_series_value = min(ls[k])
    min_t.append(max_time_series_value)
print(len(min_t))

137

### Obtaining data frame for maximum and minimum amplitude

In [184]:
df_max = pd.DataFrame(data=max_t)
df_max.index = np.arange(1, len(df) + 1)
df_max.columns = ['Maximum_Amplitude'] 
df_max

     Maximum_Amplitude
1             0.055378
2             0.054590
3             0.046576
4             0.041283
5             0.059564
..                 ...
133           0.054222
134           0.052037
135           0.065359
136           0.050903
137           0.051401

[137 rows x 1 columns]

In [185]:
df_min = pd.DataFrame(data=min_t)
df_min.index = np.arange(1, len(df) + 1)
df_min.columns = ['Minimum_Amplitude'] 
df_min

     Minimum_Amplitude
1            -0.044052
2            -0.040773
3            -0.043746
4            -0.043415
5            -0.051010
..                 ...
133          -0.036193
134          -0.039495
135          -0.036664
136          -0.051171
137          -0.050305

[137 rows x 1 columns]

In [186]:
df_location = pd.DataFrame(data=location_list)
df_location.index = np.arange(1, len(df) + 1)
df_location.columns = ['Location on drive'] 
df_location

                                     Location on drive
1    C:/Users/Ankit Kumar/Audio_Data/BallRacketWith...
2    C:/Users/Ankit Kumar/Audio_Data/BallRacketWith...
3    C:/Users/Ankit Kumar/Audio_Data/BallRacketWith...
4    C:/Users/Ankit Kumar/Audio_Data/BallRacketWith...
5    C:/Users/Ankit Kumar/Audio_Data/BallRacketWith...
..                                                 ...
133  C:/Users/Ankit Kumar/Audio_Data/BallRacketWith...
134  C:/Users/Ankit Kumar/Audio_Data/BallRacketWith...
135  C:/Users/Ankit Kumar/Audio_Data/BallRacketWith...
136  C:/Users/Ankit Kumar/Audio_Data/BallRacketWith...
137  C:/Users/Ankit Kumar/Audio_Data/BallRacketWith...

[137 rows x 1 columns]

In [187]:
result = pd.concat([df,df_max, df_min,df_location], axis=1)

In [188]:
result

,slice_file_name,Maximum_Amplitude,Minimum_Amplitude,Location on drive
1,BF01.wav,0.055378,-0.044052,C:/Users/Ankit Kumar/Audio_Data/BallRacketWith...
2,BF02.wav,0.054590,-0.040773,C:/Users/Ankit Kumar/Audio_Data/BallRacketWith...
3,BF03.wav,0.046576,-0.043746,C:/Users/Ankit Kumar/Audio_Data/BallRacketWith...
4,BF04.wav,0.041283,-0.043415,C:/Users/Ankit Kumar/Audio_Data/BallRacketWith...
5,BF05.wav,0.059564,-0.051010,C:/Users/Ankit Kumar/Audio_Data/BallRacketWith...
...,...,...,...,...
133,BF95.wav,0.054222,-0.036193,C:/Users/Ankit Kumar/Audio_Data/BallRacketWith...
134,BF96.wav,0.052037,-0.039495,C:/Users/Ankit Kumar/Audio_Data/BallRacketWith...
135,BF97.wav,0.065359,-0.036664,C:/Users/Ankit Kumar/Audio_Data/BallRacketWith...
136,BF98.wav,0.050903,-0.051171,C:/Users/Ankit Kumar/Audio_Data/BallRacketWith...
137,BF99.wav,0.051401,-0.050305,C:/Users/Ankit Kumar/Audio_Data/BallRacketWith...

In [189]:
result.to_csv('Physics_of_tennis.csv')                # to save as csv fil

### Time from the main file

In [190]:
root_audio_file_path = 'C:/Users/Ankit Kumar/Audio_Data/BallRacketWithWilsonAtHome.wav'
librosa_root_audio_data,librosa_root_sample_rate = librosa.load(root_audio_file_path)
root_audio_amplitude = librosa_root_audio_data
np.set_printoptions(threshold=np.inf)

In [191]:
folder_list = ['C:/Users/Ankit Kumar/Audio_Data/Test']
for i in folder_list:
    my_files = [[f.name for f in os.scandir(i)if f.name.endswith('.wav')]]
    print(my_files)
    
df_4_Time = pd.DataFrame(my_files)
df_4_Time = df_4_Time.T
df_4_Time.index = np.arange(1, len(df_4_Time) + 1) # assign index from 1 
df_4_Time.columns = ['slice_file_name']     #entering column name
df_4_Time.head()

[['BR001_user.wav', 'BR002_user.wav', 'BR003_user.wav', 'BR004_user.wav', 'BR005_user.wav', 'BR006_user.wav']]

  slice_file_name
1  BR001_user.wav
2  BR002_user.wav
3  BR003_user.wav
4  BR004_user.wav
5  BR005_user.wav

In [201]:
for column in df_4_Time:
    location = ('C:/Users/Ankit Kumar/Audio_Data/Test/' + df_4_Time[column])
    location_list_time = location.tolist()
    
lt = []
for f in location_list_time:
    librosa_audio_data,librosa_sample_rate = librosa.load(f)
    librosa_audio_data = lt.append(librosa_audio_data)
#print(lt)

In [198]:
start_time_array = []
end_time_array = []
for t in range(len(df_4_Time)):
    l_real_time = lt[t]
    start_array = np.where(root_audio_amplitude == l_real_time[0] )
    start_array = int(start_array[0])
    #print('Start array', start_array)
    end_array = np.where(root_audio_amplitude == l_real_time[-1])
    end_array = int(end_array[0])
    #print('End array', end_array)
    start_timing = start_array/librosa_sample_rate
    start_timing = start_time_array.append(start_timing)
    end_timing = end_array/librosa_sample_rate
    end_timing = end_time_array.append(end_timing)
    
print(start_time_array)
print(end_time_array)

[0.06984126984126984, 1.1451700680272108, 2.324263038548753, 1.7464399092970522, 2.324263038548753, 2.8813151927437644]
[0.09977324263038549, 1.1751020408163266, 2.3541950113378687, 1.7763718820861678, 2.3541950113378687, 2.9112471655328798]

In [202]:
# intialise data of lists.
data = {'Start Time in original File':start_time_array ,
        'End Time in orignal File':end_time_array}
  
# Create DataFrame
df_time = pd.DataFrame(data)
df_time.index = np.arange(1, len(df) + 1)
# Print the output.
df_time

   Start Time in original File  End Time in orignal File
1                     0.069841                  0.099773
2                     1.145170                  1.175102
3                     2.324263                  2.354195
4                     1.746440                  1.776372
5                     2.324263                  2.354195
6                     2.881315                  2.911247